In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix
import pandas as pd

In [2]:
df = pd.read_csv('56_tracksMeta.csv')
df

,id,width,height,initialFrame,finalFrame,numFrames,class,drivingDirection,traveledDistance,minXVelocity,maxXVelocity,meanXVelocity,minDHW,minTHW,minTTC,numLaneChanges
0,1,4.55,1.92,1,49,49,Car,1,59.58,31.09,31.19,31.14,-1.00,-1.00,-1.00,0
1,2,7.88,2.50,1,69,69,Truck,2,66.10,24.03,24.70,24.36,-1.00,-1.00,-1.00,0
2,3,4.95,1.92,1,79,79,Car,2,106.72,33.79,34.81,34.28,28.35,0.82,10.83,0
3,4,11.72,2.50,1,66,66,Truck,1,64.37,24.72,24.85,24.82,-1.00,-1.00,-1.00,0
4,5,5.46,2.12,1,83,83,Car,1,107.61,32.46,33.32,32.87,38.74,1.17,20.83,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1790,1791,5.66,2.43,23652,23754,103,Car,1,144.70,34.64,36.16,35.50,234.08,6.75,33.25,0
1791,1792,5.26,2.02,23678,23754,77,Car,1,114.77,36.74,38.67,37.80,27.70,0.75,12.23,1
1792,1793,4.95,2.02,23697,23754,58,Car,2,79.73,34.80,35.34,35.06,288.85,8.17,63.92,0
1793,1794,9.90,2.50,23701,23754,54,Truck,1,56.13,26.51,26.56,26.54,46.48,1.75,104.20,0
1794,1795,5.46,1.92,23708,23754,47,Car,1,74.06,40.38,40.62,40.46,-1.00,-1.00,-1.00,0

In [3]:
df.drop(df.columns[[0]], axis=1, inplace=True)

In [4]:
df

,width,height,initialFrame,finalFrame,numFrames,class,drivingDirection,traveledDistance,minXVelocity,maxXVelocity,meanXVelocity,minDHW,minTHW,minTTC,numLaneChanges
0,4.55,1.92,1,49,49,Car,1,59.58,31.09,31.19,31.14,-1.00,-1.00,-1.00,0
1,7.88,2.50,1,69,69,Truck,2,66.10,24.03,24.70,24.36,-1.00,-1.00,-1.00,0
2,4.95,1.92,1,79,79,Car,2,106.72,33.79,34.81,34.28,28.35,0.82,10.83,0
3,11.72,2.50,1,66,66,Truck,1,64.37,24.72,24.85,24.82,-1.00,-1.00,-1.00,0
4,5.46,2.12,1,83,83,Car,1,107.61,32.46,33.32,32.87,38.74,1.17,20.83,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1790,5.66,2.43,23652,23754,103,Car,1,144.70,34.64,36.16,35.50,234.08,6.75,33.25,0
1791,5.26,2.02,23678,23754,77,Car,1,114.77,36.74,38.67,37.80,27.70,0.75,12.23,1
1792,4.95,2.02,23697,23754,58,Car,2,79.73,34.80,35.34,35.06,288.85,8.17,63.92,0
1793,9.90,2.50,23701,23754,54,Truck,1,56.13,26.51,26.56,26.54,46.48,1.75,104.20,0
1794,5.46,1.92,23708,23754,47,Car,1,74.06,40.38,40.62,40.46,-1.00,-1.00,-1.00,0

In [5]:
df.drop(df.columns[[2,3,4]], axis=1, inplace=True)
df

,width,height,class,drivingDirection,traveledDistance,minXVelocity,maxXVelocity,meanXVelocity,minDHW,minTHW,minTTC,numLaneChanges
0,4.55,1.92,Car,1,59.58,31.09,31.19,31.14,-1.00,-1.00,-1.00,0
1,7.88,2.50,Truck,2,66.10,24.03,24.70,24.36,-1.00,-1.00,-1.00,0
2,4.95,1.92,Car,2,106.72,33.79,34.81,34.28,28.35,0.82,10.83,0
3,11.72,2.50,Truck,1,64.37,24.72,24.85,24.82,-1.00,-1.00,-1.00,0
4,5.46,2.12,Car,1,107.61,32.46,33.32,32.87,38.74,1.17,20.83,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1790,5.66,2.43,Car,1,144.70,34.64,36.16,35.50,234.08,6.75,33.25,0
1791,5.26,2.02,Car,1,114.77,36.74,38.67,37.80,27.70,0.75,12.23,1
1792,4.95,2.02,Car,2,79.73,34.80,35.34,35.06,288.85,8.17,63.92,0
1793,9.90,2.50,Truck,1,56.13,26.51,26.56,26.54,46.48,1.75,104.20,0
1794,5.46,1.92,Car,1,74.06,40.38,40.62,40.46,-1.00,-1.00,-1.00,0

In [6]:
df.drop(df.columns[[3,4,5,6,7,8,9,10,11]], axis=1, inplace=True)

In [7]:
df

      width  height  class
0      4.55    1.92    Car
1      7.88    2.50  Truck
2      4.95    1.92    Car
3     11.72    2.50  Truck
4      5.46    2.12    Car
...     ...     ...    ...
1790   5.66    2.43    Car
1791   5.26    2.02    Car
1792   4.95    2.02    Car
1793   9.90    2.50  Truck
1794   5.46    1.92    Car

[1795 rows x 3 columns]

In [8]:
X = df.iloc[:, :-1].values
y = df.iloc[:, 2].values

In [9]:
# Split dataset into random train and test subsets:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20) 
X_train

array([[17.38,  2.5 ],
       [ 4.75,  1.92],
       [ 4.35,  1.82],
       ...,
       [17.48,  2.5 ],
       [ 7.58,  2.22],
       [ 5.26,  2.02]])

In [10]:
# Standardize features by removing mean and scaling to unit variance:
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [11]:
# Use the KNN classifier to fit data:
model = KNeighborsClassifier(n_neighbors=5)
model.fit(X_train, y_train)

KNeighborsClassifier()

In [12]:
# Predict y data with classifier: 
y_predict = model.predict(X_test)

C:\Users\yemis\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [13]:
print(confusion_matrix(y_test, y_predict))
print(classification_report(y_test, y_predict))

[[275   2]
 [  1  81]]
              precision    recall  f1-score   support

         Car       1.00      0.99      0.99       277
       Truck       0.98      0.99      0.98        82

    accuracy                           0.99       359
   macro avg       0.99      0.99      0.99       359
weighted avg       0.99      0.99      0.99       359

In [14]:
y_predict

array(['Car', 'Car', 'Truck', 'Truck', 'Car', 'Car', 'Car', 'Car', 'Car',
       'Car', 'Truck', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car',
       'Car', 'Car', 'Truck', 'Car', 'Car', 'Car', 'Car', 'Truck', 'Car',
       'Truck', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Truck',
       'Car', 'Car', 'Car', 'Car', 'Truck', 'Car', 'Truck', 'Truck',
       'Car', 'Car', 'Truck', 'Car', 'Truck', 'Car', 'Truck', 'Car',
       'Car', 'Car', 'Truck', 'Car', 'Car', 'Car', 'Car', 'Truck', 'Car',
       'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car',
       'Truck', 'Car', 'Car', 'Car', 'Car', 'Car', 'Truck', 'Car', 'Car',
       'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Truck', 'Car', 'Truck',
       'Truck', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car',
       'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car',
       'Car', 'Truck', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car',
       'Car', 'Car', 'Truck', 'Car', 'Car', 'Truck', 'Truck', 'Car',
       'Car', 'Car', 'Car', 'Truck', 'Truck', 'Car', 'Truck', 'Car',
       'Truck', 'Car', 'Truck', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car',
       'Truck', 'Truck', 'Car', 'Truck', 'Car', 'Car', 'Car', 'Car',
       'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Truck', 'Car',
       'Car', 'Car', 'Car', 'Truck', 'Car', 'Truck', 'Car', 'Car',
       'Truck', 'Car', 'Truck', 'Truck', 'Car', 'Car', 'Truck', 'Car',
       'Car', 'Truck', 'Car', 'Car', 'Car', 'Truck', 'Car', 'Car', 'Car',
       'Car', 'Truck', 'Car', 'Car', 'Truck', 'Car', 'Car', 'Car', 'Car',
       'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Truck',
       'Car', 'Car', 'Car', 'Car', 'Truck', 'Truck', 'Car', 'Car', 'Car',
       'Truck', 'Car', 'Truck', 'Truck', 'Car', 'Car', 'Car', 'Truck',
       'Truck', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car',
       'Truck', 'Car', 'Car', 'Car', 'Truck', 'Car', 'Car', 'Car', 'Car',
       'Car', 'Truck', 'Car', 'Car', 'Car', 'Truck', 'Truck', 'Car',
       'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Truck', 'Car', 'Car',
       'Car', 'Car', 'Truck', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car',
       'Truck', 'Car', 'Car', 'Car', 'Truck', 'Car', 'Truck', 'Car',
       'Car', 'Car', 'Car', 'Car', 'Truck', 'Truck', 'Car', 'Car', 'Car',
       'Car', 'Car', 'Car', 'Truck', 'Car', 'Truck', 'Car', 'Truck',
       'Car', 'Car', 'Car', 'Truck', 'Car', 'Car', 'Truck', 'Truck',
       'Car', 'Car', 'Car', 'Car', 'Truck', 'Car', 'Truck', 'Car',
       'Truck', 'Car', 'Car', 'Car', 'Car', 'Truck', 'Truck', 'Car',
       'Car', 'Truck', 'Truck', 'Truck', 'Car', 'Car', 'Car', 'Car',
       'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Truck',
       'Car', 'Car', 'Truck', 'Car', 'Truck', 'Truck', 'Car', 'Car',
       'Car', 'Car', 'Car', 'Car', 'Car', 'Truck', 'Car', 'Car', 'Car',
       'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car', 'Car',
       'Car', 'Car', 'Car', 'Car', 'Car', 'Truck'], dtype=object)

In [15]:
import csv

header = ['width','height']

with open('train.csv', 'w', encoding='UTF8', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    
    for i in X_train:
        writer.writerow(i)

In [16]:
import pickle

In [17]:
pickle.dump(model, open('model.pkl', 'wb'))

In [18]:
header_test = ["width","height"]

with open('tester.csv', 'w', encoding='UTF8', newline="") as f:
    writer = csv.writer(f)
    writer.writerow(header_test)
    
    for i in X_test:
        writer.writerow(i)

In [19]:
df2= pd.read_csv('tester.csv')

In [25]:
import json
#df3 = df2.to_json(orient = 'records')
#with open('file_name.txt', 'w') as f:
#2    f.write(df3)
    
data = df2.to_json(orient = 'records')

data_json = json.loads(data)


string_val = str(data_json[0])
string_val_quoted = string_val.replace("\'", "\"")
print(string_val_quoted)
print(type(string_val_quoted))
topic_data = string_val_quoted.encode('utf-8')
print(topic_data)
print(type(topic_data))
#det_decode = topic_data.decode('utf-8')
#print(det_decode)
#print(type(det_decode))

#validstr = json.dumps(det_decode)
#print(validstr)
#print(type(validstr))
#strings = validstr.replace("\'", "\"")
#print(strings)


valid = json.loads(topic_data)
print(valid)
print(type(valid))

{"width": -0.5039063729, "height": -0.2032405622}
<class 'str'>
b'{"width": -0.5039063729, "height": -0.2032405622}'
<class 'bytes'>
{'width': -0.5039063729, 'height': -0.2032405622}
<class 'dict'>

In [ ]:
X_test

In [ ]:
pred = model.predict([[1,0.3]])

In [ ]:
pred

In [ ]:
model1 = pickle.load(open('model.pkl', 'rb')) #loads model from pickle file
h=1
m=0.3
ppp= model1.predict([[h,m]])
ppp